
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link href="{% static 'sylte-sheet.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

      <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Alumni</h2>
        <ul>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-star"></i>Top Rated</a></li>
            <li><a class="text-decoration-none" href="{% url 'chat' %}"><i class="fa-regular fa-comment-dots"></i>  Chat</a></li>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-award"></i>Award</a></li>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-project-diagram"></i>Worked</a></li>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-blog"></i>Company</a></li>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-address-book"></i>Batch</a></li>
            <li><a class="text-decoration-none" href="#"><i class="fas fa-calendar-days"></i>Years</a></li>
        </ul>
    </div>
    <div class="main_content">
{#        <div class="header">Welcome!! Have a nice day.</div>  #}


        <!-- ======= Header ======= -->
          <header id="header" class="header sticky-top d-flex align-items-center" style="background-color: #0a53be; height: 70px">
            <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

              <a href="{% url 'home' %}" class="logo d-flex text-decoration-none align-items-center">
                <img src="{% static './assets/img/img_1.png' %}">
{#                <h1>DIU</h1>#}
              </a>

{#                <form action="{% url 'search' %}" method="GET" class="d-flex">#}
{#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                </form>#}
{#                <div class="search-wrap">#}
{#                    <div class="container">#}
{#                      <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>#}
{#                      <form action="{% url 'search' %}" method="GET">#}
{#                      {% csrf_token %}#}
{#                        <input type="text" name="query" id="query" list="alumni" class="form-control"#}
{#                               placeholder="Alumni Name">#}
{#                          <datalist id="alumni">#}
{#                          {% for sheet in sheets %}#}
{#                              <option value="{{ sheet.name }}"></option>#}
{#                          {% endfor %}#}
{#                          </datalist>#}
{##}
{#                      </form>#}
{#                    </div>#}
{#                  </div>#}
                <form class="d-flex" action="{% url 'search' %}" method="get">
                    {% csrf_token %}
                  <input class="form-control col-lg-12 me-2" type="search" name="query" id="query" list="alumni" placeholder="Search Alumni Name" aria-label="Search">
                    <datalist id="alumni">
                          {% for sheet in sheets %}
                              <option value="{{ sheet.name }}"></option>
                          {% endfor %}
                          </datalist>
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>


              <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
              <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="text-decoration-none" href="{% url 'index' %}" >Home</a></li>
                  <li><a class="text-decoration-none" href="{% url 'gallery' %}">Gallery</a></li>
                  <li><a class="text-decoration-none" href="{% url 'topAlumni' %}" >Top Alumni</a></li>
        {#            class="active"#}
                  <li><a class="text-decoration-none" href="{% url 'alumni_sheet' %}">Alumni Sheet</a></li>
                  <li><a class="text-decoration-none" href="{% url 'about' %}">About</a></li>
                  <li><a class="text-decoration-none" href="{% url 'contact' %}">Contact</a></li>
                    <!------ Nav Item - User information ------>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="{% url 'profile' %}" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{#                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user}}</span>#}
                            <img class="img-profile rounded-circle" style="height: 30px; width: 30px" src="{%  static 'img_1.png' %}" alt="Profile Pic">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                   </li>

                </ul>
              </nav>

            </div>
          </header>


{#          <div class="container mt-5">#}
{#            <div class="row row-cols-1 row-cols-md-3 g-4">#}
{#            {% for sheet in sheets %}#}
{#                <div class="col">#}
{#                      <div class="card" style="height: 450px; width: 400px">#}
{#                          <div>#}
{#                              <a href="/alumni_sheet/{{ alumni.slug }}"><img src="{{ sheet.image.url }}" height="330" width="400" alt=""></a>#}
{#                          </div>#}
{#                        <div class="card-body text-center">#}
{#                            <h5>{{ sheet.name }}</h5>#}
{#                            <h6>{{ sheet.position }}</h6>#}
{#                            <h6>{{ sheet.organization }}</h6>#}
{#                        </div>#}
{#                      </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#            </div>#}
{#        </div>#}

       <h2 class="text-center mt-5 mb-1 display-3 fw-semibold">Top Alumni</h2>
        <p class="text-center fs-4 mb-4">Nobody is Bothered about an institution more then its alumni.
            <br> N. R. Narayana Murthy</p>
    <section id="team" class="team">
        <div class="container">

            <div class="container mt-5">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for top in tops %}
                    <div class="col">
                          <div class="card" style="height: 450px; width: 400px">
                              <div>
                                  <a href="/alumni_sheet/{{ alumni.slug }}"><img src="{{ top.image.url }}" height="330" width="400" alt=""></a>
                              </div>
                            <div class="card-body text-center">
                                <h5>{{ top.name }}</h5>
                                <h6>{{ top.position }}</h6>
                                <h6>{{ top.organization }}</h6>
                            </div>
                          </div>
                    </div>
                {% endfor %}
                </div>
            </div>

{#            <div class="row row-cols-1 row-cols-md-3 g-4">#}
{#                <div class="col">#}
{#                  <div class="card">#}
{#                    <img src="{% static 'assets/img/Top-alumni/9.JPG' %}" class="card-img-top" alt="...">#}
{#                    <div class="card-body">#}
{#                      <h5 class="card-title">Munzereen Shahid</h5>#}
{#                      <p class="card-text">Security Analyst, Hamburg, Germany</p>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                  <div class="card">#}
{#                    <img src="{% static 'assets/img/Top-alumni/9.JPG' %}" class="card-img-top" alt="...">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Munzereen Shahid</h5>#}
{#                        <p class="card-text">Security Analyst, Hamburg, Germany</p>#}
{#                      </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                  <div class="card">#}
{#                    <img src="{% static 'assets/img/Top-alumni/9.JPG' %}" class="card-img-top" alt="...">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Munzereen Shahid</h5>#}
{#                        <p class="card-text">Security Analyst, Hamburg, Germany</p>#}
{#                      </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                  <div class="card">#}
{#                    <img src="{% static 'assets/img/Top-alumni/9.JPG' %}" class="card-img-top" alt="...">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Munzereen Shahid</h5>#}
{#                        <p class="card-text">Security Analyst, Hamburg, Germany</p>#}
{#                      </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="card">#}
{#                      <img src="{% static 'assets/img/Top-alumni/9.JPG' %}" class="card-img-top" alt="...">#}
{#                      <div class="card-body">#}
{#                        <h5 class="card-title">Munzereen Shahid</h5>#}
{#                        <p class="card-text">Security Analyst, Hamburg, Germany</p>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="col">#}
{#                    <div class="card">#}
{#                      <img src="{% static 'assets/img/Top-alumni/9.JPG' %}" class="card-img-top" alt="...">#}
{#                      <div class="card-body">#}
{#                        <h5 class="card-title">Munzereen Shahid</h5>#}
{#                        <p class="card-text">Security Analyst, Hamburg, Germany</p>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#              </div>#}
{##}
{##}
{##}
{##}
        </div>



    </section>





    </div>
</div>

</body>
</html>






